* {
    box-sizing: border-box;
}

body {
    background-color:blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    margin: 40px 0;
}

a {
    color: white;
    font-weight: bold;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}

nav > ul > li {
    list-style-type: none;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 

button {
    margin: 8px;
    padding: 10px;
    border: 2px solid white;
    background-color:blueviolet;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#submit-quote, #delete-quote {
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: darkviolet;
}

input {
    margin: 8px;
    padding: 10px;
    font-size: 16px;
}

label {
    padding: 10px;
}

.inputs {
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote-container, #new-quote {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.single-quote {
    padding: 10px;
}

.quote-text {
    font-style: italic;
}